@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@300&display=swap');

header {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

header h1 {
    font-size: 40px;
}

header h2 {
    font-size: 25px;
}

body {
    max-width: 80%;
    margin: auto;
}

div.logo {
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}

.nav_bar {
    width: 95%;
    margin: auto;
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}

.nav_bar li {
    float: left;
}

.nav_bar li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: cornflowerblue;
    font-family: 'PT Sans', sans-serif;
    font-weight: 550;
    font-size: 1.4em;
    background-color: white;
    border-bottom: 0.5vh solid rgb(128, 128, 128);
}

.nav_bar li a:hover {
    background-color: darkgray;
}

nav ul li a.active {
    text-decoration: underline;
    color: black;
}

a {
    color: #1b1364;
}

article h3 {
    text-indent: 1em;
}

p {
    font-size: 1em;
    line-height: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-align: left;
    color: black;
    text-indent: 1.5em;
    word-spacing: 0.1em;
    letter-spacing: 0.03em;
    text-transform: none;
}

.nav_by_themes {
    filter: drop-shadow(12px 12px 12px rgba(0,0,0,0.3));
}

.navigating_img {
    position: relative;
    color: white;
}

.container_1_for_nav_by_themes .navigating_img img {
    width: 100%;
    margin-bottom: 2vh;
}

.container_2_for_nav_by_themes .navigating_img img {
    width: 100%;
    margin-bottom: 2vh;
}

.text_for_themes {
    max-width: 20%;
    text-decoration: none;
    font-size: 2em;
    position: absolute;
    left: 1%;
    color: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 3px;
}

.text_for_themes:hover {
    text-decoration: underline;
}

.container_1_for_nav_by_themes .text_for_themes {
    bottom: 5%;
}

.container_2_for_nav_by_themes .text_for_themes {
    bottom: 10%;
}

.container_for_the_last_button {
    max-width: 1200px;
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
}

.container_for_the_last_button img {
    width: 100%;
    filter: drop-shadow(12px 12px 12px rgba(0,0,0,0.3));
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(45, 45, 45, 0.89);
    color: #fff;
    padding: 1rem 1rem;
    border-radius: 3px;
}

.button:hover {
    background-color: #7e7e7e;
}

.social_networks_list {
    padding: 4px;
    margin-top: 0;
}

.social_networks_list li {
    display: inline;
    margin: 0;
    padding: 4px;
}

address {
    font-weight: 300;
    font-style: normal;
    float:left;
}

footer {
    width: 100%;
}

@media (max-width: 479px) {
    pre {
        display: none;
    }
}

@media (min-width: 768px) {
    .container_1_for_nav_by_themes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
    }

    .container_2_for_nav_by_themes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1vw;
    }

    .container_1_for_nav_by_themes .navigating_img img {
        margin-bottom: 0.5vw;
    }
}

@media (max-width: 767px) {
    body {
        max-width: 90%;
    }
}

table {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    max-width: 900px;
    overflow-x: auto;
}

thead, tbody, tr {
    display: contents;
}

th, td {
    padding: 1.5vmin;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    text-align: left;
    font-size: 1.2em;
    font-weight: normal;
    color: #ffffff;
    background-color: rgba(82, 87, 210, 0.5);
}

th:last-child {
    border-top-right-radius: 15px;
}

th:first-child {
    border-top-left-radius: 15px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

td {
    padding: 1.5vmin;
    color: #808080;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

.clock {
    position: absolute;
    right: 10%;
    font-size: 2.5em;
    color: brown;
    float:right;
}

.clock ul {
    margin-bottom: 0;
}

.clock ul li {
    display: inline;
}

#fetchButton {
    background-color: white;
    transition: background-color 0.2s ease-in;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
}

#fetchButton:hover {
    background: #a6a6a6;
}

#preload {
    width: 498px;
    height: 395px;
    padding: 30px;
    display: none;
}

#data {
    display: none;
    max-width: 498px;
    max-height: 395px;
}